.feature{

    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 4rem;
    }

    .title{
        font-size: 2rem;
    }


    &__cover{
        box-shadow: 0 0 1rem rgba(black,0.2);
    }

    &__img{
        @include fitImg;
    }


    .desc{
        color: gray;
    }
}